//SEO FB
meta(property='og:url', content='https://aprendidos.com')
meta(property='og:type', content='article')
meta(property='og:title', content='Aprendidos')
meta(property='og:description', content='#{seoaprendidos}')
meta(property='og:image', content='https://aprendidos.com/img/aprendidosfbwebcomplet.jpg')