meta(name="description", content="#{seoaprendidos}")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title #{title}
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Varela+Round")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")
link(rel="stylesheet", href="/css/materialize.min.css")
link(rel="stylesheet", href="/css/app.css")

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbwyo5G5fa4OCOXgUKezEiUOHZFHB7HLs&libraries=places&sensor=false")





