<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    include inc/base
    include inc/baseone
  body
    include inc/header

    main.main
      section.pageError
        .error404page
          .newcharacter404
            .chair404
            .leftshoe404
            .rightshoe404
            .legs404
            .torso404
              .body404
              .leftarm404
              .rightarm404
              .head404
                .eyes404
            .laptop404
              | La pagina que buscas no se encontro



    include inc/footer