<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    include inc/base
  body
    include inc/header

    main.main
     .slider.fullscreen
        ul.slides
          li
            img(src='http://www.document-logistix.com/education/images/bg_education.jpg')
            // random image
            .caption.center-align
              h3 Anuncia tus materias
              h5.light.grey-text.text-lighten-3 Llega a mas alumnos de una manera fácil y sencilla
              //h5
               | su perfil de profesor sera visto
               br
               | por muchos estudiantes, profesores y usuarios registrados
          li
            img(src='https://www.fnb.co.za/00Assets/za/zaImages/save-and-invest/personal/Education_1_WhySave_BG.jpg')
            // random image
            .caption.left-align
              h3 Anuncia tu perfil
              h5.light.grey-text.text-lighten-3 Su perfil de profesor sera visto
              h6 por muchos estudiantes, profesores y usuarios registrados
          li
            img(src='http://www.grmc-online.com/images/bg-education.jpg')
            // random image
            .caption.right-align
              h3 Anuncia
              h5.light.grey-text.text-lighten-3 Nuestros usuarios te estan esperando, anuncia tu perfil en este momento
              a.btn.marginOneTop(href='mailto:contacto@aprendidos.com')
                | Contactar

                     



    include inc/footer