<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    include inc/base
  body
    include inc/header
    section#website
      section.slider.preguntasSlider
        header.aboutSlider__Header
          h2.title
            | Preguntas Frecuentes

      main.main
        div.aboutMain
          div.container
            div.col.l12.aboutMain__Description
              ul.questions
                li.questions__List
                  header.questions__Header
                    h3.title
                      | ¿Qúe es Aprendidos?
                  div.questions__Description
                    p.description
                      | Es la plataforma web que conecta profesores con alumnos que necesiten clases particulares.
                li.questions__List
                  header.questions__Header
                    h3.title
                      | ESTUDIANTES
                  div.questions__Description
                    strong
                      |¿Cómo busco un profesor particular?
                    p.description
                      | Buscar un profesor en Aprendidos es muy simple. Seleccionás tu ciudad y la materia que necesitás y listo!
                  div.questions__Description
                    strong
                      |¿Cómo me contacto con el profesor?
                    p.description
                      | En el perfil del profesor vas a encontrar todos sus datos, y a través de ahí podes contactarlo y comunicarte al instante
                li.questions__List
                  header.questions__Header
                    h3.title
                      | PROFESORES
                  div.questions__Description
                    strong
                      |¿Por qué ser parte de Aprendidos?
                    p.description
                      |Porque con una cuenta en Aprendidos vas a poder:
                      | Llegar a más personas: Cientos de estudiantes buscan en Aprendidos profesores particulares. Construír tu reputación: Tener un perfil en Aprendidos te permite recibir puntuaciones y comentarios de tus estudiantes, con una buena reputación serás más elegido y recomendado.
                    p.description
                      | Publicar un perfil que te permite mostrar más información de la que podrías en un anuncio clasificado.

                  div.questions__Description
                    strong
                      |¿Cuál es el costo de mi cuenta en Aprendidos?
                    p.description
                      |Es totalmente gratuito y lo será siempre, tanto para profesores y alumnos. Los profesores que deseen una mayor exposición pueden contratar un servicio Premium.
                  div.questions__Description
                    strong
                      |¿Cómo funciona el servicio Premium?
                    p.description
                      |Para tener una mayor visibilidad en el sitio, generar un mayor número de visitas y llegar a más alumnos te ofrecemos un servicio especial. Podés elegir anunciarte cuando quieras.

    include inc/footer