<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="undefined"/>
    <title></title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/css/materialize.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
  </head>
  <body>
    <header class="my__Header">
      <section class="my__HeaderContain container">
        <div class="row my__HeaderIzDe">
          <figure class="col l6 contain__Header">
            <h1 class="title"><a href="/" class="link">Aprendidos</a></h1>
          </figure>
          <nav class="col l6 container__Menu">
            <ul class="ul">
              <li class="list"><a href="/nosotros" class="link">Nosotros</a></li>
              <!--li.list
              a.link(href="/guia")
                | Guía
              -->
              <li class="list"><a href="/register" class="link">Quiero Enseñar</a></li>
              <li class="list"><a href="/login" class="link">INGRESAR</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <div class="containerDecored row">
        <div class="col l3 linesHeader uno"></div>
        <div class="col l3 linesHeader dos"></div>
        <div class="col l3 linesHeader tres"></div>
        <div class="col l3 linesHeader cuatro"></div>
      </div>
    </header>
    <main class="main">
      <section class="profileUser">
        <div class="profileUser__Contain">
          <div class="container">
            <div class="row">
              <figure class="profileUser__Figure col l3"><img src="https://res.cloudinary.com/upclaz/image/upload/t_medium/v1/committed/88fb4c2f-980f-4dff-852b-c5e41b31a72b" alt=""/></figure>
              <aside class="profileUser__Aside col l9">
                <header class="profileUser__Aside--Header col l12">
                  <h2 class="title">Mi Perfil</h2>
                </header>
                <form class="profileUser__Form col l12">
                  <fieldset class="profileUser__Form--Fieldset col l4">
                    <label for="">Nombre</label>
                    <input type="text" name="name" placeholder="Edinson"/>
                  </fieldset>
                  <fieldset class="profileUser__Form--Fieldset col l4">
                    <label for="">Apellidos</label>
                    <input type="text" name="surname" placeholder="Carranza Saldaña"/>
                  </fieldset>
                  <fieldset class="profileUser__Form--Fieldset col l4">
                    <label for="">Email</label>
                    <input type="email" name="email" placeholder="edinsonlabs@hotmail.com"/>
                  </fieldset>
                  <fieldset class="profileUser__Form--Fieldset col l6">
                    <label for="">Sexo</label>
                    <select name="genero">
                      <option value="0">Seleccióne su genero</option>
                      <option value="h">Hombre</option>
                      <option value="m">Mujer</option>
                    </select>
                  </fieldset>
                  <fieldset class="profileUser__Form--Fieldset col l6">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" class="datepicker"/>
                  </fieldset>
                </form>
              </aside>
            </div>
          </div>
        </div>
        <div class="profileUser__Details">
          <div class="container">
            <div class="row">
              <section class="profesoresVisited col l4">
                <header class="profesoresVisited__Header">
                  <h3 class="title">Profesores Visitados</h3>
                </header>
                <div class="profesoresVisited__Container">
                  <article class="profesoresVisited__Articls">
                    <figure class="figure"><img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/15267685_1824490494476399_8479071749866171586_n.jpg?oh=42fda94e8fb2e0078f940e4abaffd8cb&amp;oe=58E0696D" alt=""/></figure>
                    <header class="description">
                      <h4 class="name">Profesor Carlos</h4>
                    </header>
                  </article>
                  <article class="profesoresVisited__Articls">
                    <figure class="figure"><img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/15267685_1824490494476399_8479071749866171586_n.jpg?oh=42fda94e8fb2e0078f940e4abaffd8cb&amp;oe=58E0696D" alt=""/></figure>
                    <header class="description">
                      <h4 class="name">Profesor Carlos</h4>
                    </header>
                  </article>
                  <article class="profesoresVisited__Articls">
                    <figure class="figure"><img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/15267685_1824490494476399_8479071749866171586_n.jpg?oh=42fda94e8fb2e0078f940e4abaffd8cb&amp;oe=58E0696D" alt=""/></figure>
                    <header class="description">
                      <h4 class="name">Profesor Carlos</h4>
                    </header>
                  </article>
                  <article class="profesoresVisited__Articls">
                    <figure class="figure"><img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-1/c0.3.100.100/p100x100/15267685_1824490494476399_8479071749866171586_n.jpg?oh=42fda94e8fb2e0078f940e4abaffd8cb&amp;oe=58E0696D" alt=""/></figure>
                    <header class="description">
                      <h4 class="name">Profesor Carlos</h4>
                    </header>
                  </article>
                </div>
              </section>
              <div class="col l4"></div>
              <aside class="profesoresComment col l4">
                <header class="profesoresComment__Header">
                  <h3 class="title">Profesores Calificados</h3>
                </header>
                <div class="profesoresComment__Container">
                  <article class="articls">
                    <figure class="figure"><img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-1/p100x100/11044535_10152774851101794_7436133391466102573_n.jpg?oh=7a939118b6eb336c84d9b1f6254eea25&amp;oe=58B02443" alt=""/></figure>
                    <header class="description">
                      <h4 class="name">Profesore Silicon</h4>
                    </header>
                  </article>
                  <article class="articls">
                    <figure class="figure"><img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-1/p100x100/11044535_10152774851101794_7436133391466102573_n.jpg?oh=7a939118b6eb336c84d9b1f6254eea25&amp;oe=58B02443" alt=""/></figure>
                    <header class="description">
                      <h4 class="name">Profesore Silicon</h4>
                    </header>
                  </article>
                  <article class="articls">
                    <figure class="figure"><img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-1/p100x100/11044535_10152774851101794_7436133391466102573_n.jpg?oh=7a939118b6eb336c84d9b1f6254eea25&amp;oe=58B02443" alt=""/></figure>
                    <header class="description">
                      <h4 class="name">Profesore Silicon</h4>
                    </header>
                  </article>
                  <article class="articls">
                    <figure class="figure"><img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-1/p100x100/11044535_10152774851101794_7436133391466102573_n.jpg?oh=7a939118b6eb336c84d9b1f6254eea25&amp;oe=58B02443" alt=""/></figure>
                    <header class="description">
                      <h4 class="name">Profesore Silicon</h4>
                    </header>
                  </article>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__Top">
        <div class="container footer__Contain">
          <div class="row">
            <ul class="ul col l3">
              <label class="title">NOSOTROS</label>
              <li class="list"><a href="#" class="link">Quienes Somos?</a></li>
              <li class="list"><a href="#" class="link">Prensa</a></li>
            </ul>
            <ul class="ul col l3">
              <label class="title">APRENDIDOS</label>
              <li class="list"><a href="#" class="link">Terminos y Condiciones</a></li>
              <li class="list"><a href="#" class="link">Preguntas Frecuentes</a></li>
              <li class="list"><a href="#" class="link">La Plataforma</a></li>
            </ul>
            <ul class="ul col l3">
              <label class="title">REDES SOCIALES</label>
              <li class="list"><a href="#" class="link"><i aria-hidden="true" class="fa fa-facebook"></i>Facebook</a></li>
              <li class="list"><a href="#" class="link"><i aria-hidden="true" class="fa fa-twitter"></i>Twitter</a></li>
              <li class="list"><a href="#" class="link"><i aria-hidden="true" class="fa fa-instagram"></i>Instagram</a></li>
            </ul>
            <ul class="ul col l3">
              <li class="list"><a href="#" class="link"><img src="/img/googleplay.png" width="120px"/></a></li>
              <li class="list"><a href="#" class="link"><img src="/img/appstore.png" width="120px"/></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__Bottom">
        <div class="container footer__Derechos">
          <p class="description">© 2017 - Todos los derechos reservados</p>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/codigo.js"></script>
  </body>
</html>