<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    include inc/base
  body
    include inc/header
    
    div#website
      main.main
        section.main__Login
          div.container
            div.row
              header.main__Login--Header.col.l12
                h2.title
                  | Recuperar clave
              //div.main__Login--Description.col.l12.col.s12
                h3.title
                  | Inicia sesión
              .main__Login--Forms.col.l12.col.s12
                div.Forms--Iz.col.l5.col.s12
                  header.Forms--Iz--Header
                    h4.title
                      | Contraseña Olvidada?
                  div.Forms--Iz--Socials
                   img.mCenter(src="/img/web.svg", alt="Recuperar la clave", width="230px")
                div.col.l2.col.s2
                aside.Forms--De.col.l5.col.s12
                  header.Forms--De--Header
                    h4.title
                      | Con Tu Email
                  - if (messages.info)
                    div.showAlert
                       span= messages.info
                  form.Forms--De-Access.formResetPassword(action="/reset/password", method="post")
                    fieldset.fieldset
                      label.fieldset__Label
                        | Correo electrónico
                      input(type="email", name="email", required, placeholder="Porfavor ingrese su email")
                    fieldset.fieldset.tCenter
                      button.waves-effect.waves-light.btn-large.full-width.colorGreen.white-text(type="submit")
                        | Recuperar
                
                div.Forms--News.col.l12
                  span.show
                    | ¿Aún no tienes cuenta? 
                  a.link(href="/register")
                    | Regístrate aquí



    include inc/footer