<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="undefined"/>
    <title></title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/css/materialize.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
  </head>
  <body class="searchBG">
    <header class="my__Header">
      <section class="my__HeaderContain container">
        <div class="row my__HeaderIzDe">
          <figure class="col l6 contain__Header">
            <h1 class="title"><a href="/" class="link">Aprendidos</a></h1>
          </figure>
          <nav class="col l6 container__Menu">
            <ul class="ul">
              <li class="list"><a href="/nosotros" class="link">Nosotros</a></li>
              <!--li.list
              a.link(href="/guia")
                | Guía
              -->
              <li class="list"><a href="/teacher/register" class="link">Quiero Enseñar</a></li>
              <li class="list"><a href="/login" class="link">INGRESAR</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <div class="containerDecored row">
        <div class="col l3 linesHeader uno"></div>
        <div class="col l3 linesHeader dos"></div>
        <div class="col l3 linesHeader tres"></div>
        <div class="col l3 linesHeader cuatro"></div>
      </div>
    </header>
    <main class="main">
      <section class="teacher__Register container">
        <div class="row">
          <section class="teacher__Register--Container card col l12">
            <header class="teacher__Register--Header col l12">
              <h2 class="title">Bienvenido al registro de Profesor</h2>
            </header>
            <section class="teacher__Register--Steps--Menu col l12">
              <ul class="ul">
                <li class="list col l3">
                  <div class="list__Icon"><i class="fa fa-id-card"></i></div>
                  <div class="list__Name"><span class="name">Datos Personales</span></div>
                </li>
                <li class="list col l3">
                  <div class="list__Icon"><i class="fa fa-book"></i></div>
                  <div class="list__Name"><span class="name">Materias</span></div>
                </li>
                <li class="list col l3">
                  <div class="list__Icon"><i class="fa fa-user-circle-o"></i></div>
                  <div class="list__Name"><span class="name">Tus Clases</span></div>
                </li>
                <li class="list col l3">
                  <div class="list__Icon"><i class="fa fa-comment"></i></div>
                  <div class="list__Name"><span class="name">Contacto</span></div>
                </li>
              </ul>
            </section>
            <section class="teacher__Register--Steps--Container col l12">
              <article class="teacher__Register__Steps--One col l8">
                <form action="" class="form__One col l12">
                  <fieldset class="header__Fieldset col l12">
                    <label>Nombre y Apellidos</label>
                  </fieldset>
                  <fieldset class="fieldset col l6">
                    <input type="text" placeholder="Nombre"/>
                  </fieldset>
                  <fieldset class="fieldset col l6">
                    <input type="text" placeholder="Apellidos"/>
                  </fieldset>
                  <fieldset class="header__Fieldset col l12">
                    <label>Genero?</label>
                  </fieldset>
                  <fieldset class="fieldset col l12">
                    <select name="">
                      <option value="0">Seleccione su genero </option>
                      <option value="Hombre">Hombre</option>
                      <option value="Mujer">Mujer</option>
                    </select>
                  </fieldset>
                  <fieldset class="header__Fieldset col l12">
                    <label>¿Cuál es tu email?</label>
                  </fieldset>
                  <fieldset class="fieldset col l12">
                    <input type="email" placeholder="Email"/>
                  </fieldset>
                  <fieldset class="header__Fieldset col l12">
                    <label>¿En qué fecha naciste?</label>
                  </fieldset>
                  <fieldset class="fieldset col l12">
                    <input type="date" class="datepicker"/>
                  </fieldset>
                  <fieldset class="fieldset col l12">
                    <input type="submit" value="Continuar" class="btn right"/>
                  </fieldset>
                </form>
              </article>
              <article class="teacher__Register__steps--Two col l8">
                <form action="" class="form__Two col l12">
                  <article class="preview">
                    <figure class="preview__Figure"><img src="" alt=""/></figure>
                  </article>
                </form>
              </article>
            </section>
          </section>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__Top">
        <div class="container footer__Contain">
          <div class="row">
            <ul class="ul col l3">
              <label class="title">NOSOTROS</label>
              <li class="list"><a href="#" class="link">Quienes Somos?</a></li>
              <li class="list"><a href="#" class="link">Prensa</a></li>
            </ul>
            <ul class="ul col l3">
              <label class="title">APRENDIDOS</label>
              <li class="list"><a href="#" class="link">Terminos y Condiciones</a></li>
              <li class="list"><a href="#" class="link">Preguntas Frecuentes</a></li>
              <li class="list"><a href="#" class="link">La Plataforma</a></li>
            </ul>
            <ul class="ul col l3">
              <label class="title">REDES SOCIALES</label>
              <li class="list"><a href="#" class="link"><i aria-hidden="true" class="fa fa-facebook"></i>Facebook</a></li>
              <li class="list"><a href="#" class="link"><i aria-hidden="true" class="fa fa-twitter"></i>Twitter</a></li>
              <li class="list"><a href="#" class="link"><i aria-hidden="true" class="fa fa-instagram"></i>Instagram</a></li>
            </ul>
            <ul class="ul col l3">
              <li class="list"><a href="#" class="link"><img src="/img/googleplay.png" width="120px"/></a></li>
              <li class="list"><a href="#" class="link"><img src="/img/appstore.png" width="120px"/></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__Bottom">
        <div class="container footer__Derechos">
          <p class="description">© 2017 - Todos los derechos reservados</p>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/codigo.js"></script>
  </body>
</html>