<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="undefined"/>
    <title></title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/css/materialize.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
  </head>
  <body class="searchBG">
    <header class="my__Header">
      <section class="my__HeaderContain container">
        <div class="row my__HeaderIzDe">
          <figure class="col l6 contain__Header">
            <h1 class="title"><a href="/" class="link">Aprendidos</a></h1>
          </figure>
          <nav class="col l6 container__Menu">
            <ul class="ul">
              <li class="list"><a href="/nosotros" class="link">Nosotros</a></li>
              <!--li.list
              a.link(href="/guia")
                | Guía
              -->
              <li class="list"><a href="/teacher/register" class="link">Quiero Enseñar</a></li>
              <li class="list"><a href="/login" class="link">INGRESAR</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <div class="containerDecored row">
        <div class="col l3 linesHeader uno"></div>
        <div class="col l3 linesHeader dos"></div>
        <div class="col l3 linesHeader tres"></div>
        <div class="col l3 linesHeader cuatro"></div>
      </div>
    </header>
    <main class="main">
      <section class="profileTeacher container">
        <div class="row uMargin">
          <header class="profileTeacher__Header col l12 card">
            <figure class="col l3 profileTeacher__Header--Avatar"><img src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-1/p160x160/15622339_1356660421053090_70339159148433763_n.jpg?oh=cedba310ebba96aac255e72f1aace3ae&amp;oe=58EA94B2" alt=""/></figure>
            <div class="col l7 profileTeacher__Header--Description">
              <div class="description__Name">
                <h2 class="title"></h2>
              </div>
              <div class="description__Start">
                <ul class="ul">
                  <li class="list"><i class="fa fa-star"></i></li>
                  <li class="list"><i class="fa fa-star"></i></li>
                  <li class="list"><i class="fa fa-star"></i></li>
                  <li class="list"><i class="fa fa-star"></i></li>
                  <li class="list"><i class="fa fa-star"></i></li>
                </ul>
              </div>
              <div class="description__Time"><span class="show">En Aprendidos desde hace 3 meses</span></div>
            </div>
            <div class="col l2 profileTeacher__Header--Options">
              <div class="options__Top"><i class="fa fa-thumbs-o-up"></i></div>
              <div class="options__Years">
                <p class="show">50</p><span class="show__Year">Años</span>
              </div>
              <div class="options__Recibido"><i class="fa fa-graduation-cap"></i></div>
            </div>
          </header>
        </div>
        <div class="row uMargin"> 
          <section class="profileTeacher__Second col l6">
            <article class="second__Iz col l12 card">
              <header class="show__Icon"><i class="fa fa-address-card"></i></header>
              <div class="show__Txt">
                <h3 class="title">Contactar a Edinson</h3>
              </div>
            </article>
          </section>
          <aside class="profileTeacher__Tree col l6">
            <article class="second__De--Container card">
              <header class="second__De--Header">
                <h4 class="title">Clases</h4>
              </header>
              <div class="second__De--List col l12">
                <ul class="ul">
                  <li class="list col l4">
                    <div class="list__Icon"><i class="fa fa-users"></i></div><span class="list__Name">Individuales</span>
                  </li>
                  <li class="list col l4">
                    <div class="list__Icon"><i class="fa fa-car"></i></div><span class="list__Name">No va domicilio</span>
                  </li>
                  <li class="list col l4">
                    <div class="list__Icon">
                      <p class="show"><strong>$ 120</strong></p>
                    </div><span class="list__Name">Por hora</span>
                  </li>
                </ul>
              </div>
              <div class="description col l12">
                <p class="show">El precio de las clases es aproximado y puede variar de acuerdo a diversos factores (por ejemplo si la clase es individual o grupal)</p>
              </div>
            </article>
          </aside>
        </div>
        <div class="row uMargin">
          <section class="profileTeacher__Four col l6">
            <article class="profile_Teacher__Four--Container col l12">
              <header class="profileTeacher__Four--Header col l12">
                <h3 class="title">Distancia</h3>
              </header>
              <div class="profileTeacher__Four--Map"><img src="http://cdn.newsapi.com.au/image/v1/0a0ceda4bda18e664ffac1a8fa86a7d1" alt="" width="100%" height="155px"/></div>
            </article>
          </section>
          <aside class="profileTeacher__Five col l6">
            <article class="profileTeacher__Fiver--Container card">
              <header class="profileTeacher__Five--Header">
                <h3 class="title">Horarios</h3>
              </header>
              <div class="profileTeacher__Five--Options col l12">
                <ul class="ul">
                  <li class="list col l4">
                    <div class="list__Icon"><i class="fa fa-sun-o"></i></div>
                    <div class="list__Name"><span class="show">Mañana</span></div>
                  </li>
                  <li class="list col l4">
                    <div class="list__Icon"><i class="fa fa-circle-o-notch"></i></div>
                    <div class="list__Name"><span class="show">Tarde</span></div>
                  </li>
                  <li class="list col l4">
                    <div class="list__Icon"><i class="fa fa-moon-o"></i></div>
                    <div class="list__Name"><span class="show">Noche</span></div>
                  </li>
                </ul>
              </div>
              <div class="profileTeacher__Five--Description col l12">
                <p class="description">Para averiguar los horarios exactos en los que Edinson da clases, ponete en contacto.</p>
              </div>
            </article>
          </aside>
        </div>
        <div class="row uMargin">
          <section class="profileTeacher__Six col l12">
            <article class="profileTeacher__Six--Container card col l12">
              <header class="profileTeacher__Six--Header">
                <h3 class="title">Materias Dictadas</h3>
              </header>
              <div class="profileTeacher__Six--Materias col l12">
                <ul class="ul">
                  <li class="list col l4">
                    <div class="list__Name"><strong class="name">Administración financiera</strong></div>
                    <div class="list__Nivel"><span class="nivel">Universitario</span></div>
                  </li>
                  <li class="list col l4">
                    <div class="list__Name"><strong class="name">Administración financiera</strong></div>
                    <div class="list__Nivel"><span class="nivel">Universitario</span></div>
                  </li>
                  <li class="list col l4">
                    <div class="list__Name"><strong class="name">Administración financiera</strong></div>
                    <div class="list__Nivel"><span class="nivel">Universitario</span></div>
                  </li>
                  <li class="list col l4">
                    <div class="list__Name"><strong class="name">Administración financiera</strong></div>
                    <div class="list__Nivel"><span class="nivel">Universitario</span></div>
                  </li>
                  <li class="list col l4">
                    <div class="list__Name"><strong class="name">Administración financiera</strong></div>
                    <div class="list__Nivel"><span class="nivel">Universitario</span></div>
                  </li>
                  <li class="list col l4">
                    <div class="list__Name"><strong class="name">Administración financiera</strong></div>
                    <div class="list__Nivel"><span class="nivel">Universitario</span></div>
                  </li>
                </ul>
              </div>
            </article>
          </section>
        </div>
        <div class="row uMargin">
          <section class="profileTeacher__Sevent col l6">
            <article class="profileTeacher__Sevent--Container col l12 card">
              <header class="profileTeacher__Sevent--Header">
                <h4 class="title">Puntaje</h4>
              </header>
              <div class="profileTeacher__Sevent--Cantidad">
                <header class="header__Cantidad col l12">
                  <h5 class="title">0,00</h5>
                </header>
                <div class="cant__Start col l12">
                  <ul class="ul">
                    <li class="list col l2"><i class="fa fa-star"></i></li>
                    <li class="list col l2"><i class="fa fa-star"></i></li>
                    <li class="list col l2"><i class="fa fa-star"></i></li>
                    <li class="list col l2"><i class="fa fa-star"></i></li>
                    <li class="list col l2"><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </article>
          </section>
          <aside class="profileTeacher__Eight col l6">
            <article class="profileTeacher__Eight--Container col l12 card">
              <header class="profileTeacher__Eight--Header">
                <h4 class="title">Mi Calificación</h4>
              </header>
              <div class="profileTeacher__Eight--Btn">
                <button class="btn amber">Calificar</button>
              </div>
            </article>
          </aside>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__Top">
        <div class="container footer__Contain">
          <div class="row">
            <ul class="ul col l3">
              <label class="title">NOSOTROS</label>
              <li class="list"><a href="#" class="link">Quienes Somos?</a></li>
              <li class="list"><a href="#" class="link">Prensa</a></li>
            </ul>
            <ul class="ul col l3">
              <label class="title">APRENDIDOS</label>
              <li class="list"><a href="#" class="link">Terminos y Condiciones</a></li>
              <li class="list"><a href="#" class="link">Preguntas Frecuentes</a></li>
              <li class="list"><a href="#" class="link">La Plataforma</a></li>
            </ul>
            <ul class="ul col l3">
              <label class="title">REDES SOCIALES</label>
              <li class="list"><a href="#" class="link"><i aria-hidden="true" class="fa fa-facebook"></i>Facebook</a></li>
              <li class="list"><a href="#" class="link"><i aria-hidden="true" class="fa fa-twitter"></i>Twitter</a></li>
              <li class="list"><a href="#" class="link"><i aria-hidden="true" class="fa fa-instagram"></i>Instagram</a></li>
            </ul>
            <ul class="ul col l3">
              <li class="list"><a href="#" class="link"><img src="/img/googleplay.png" width="120px"/></a></li>
              <li class="list"><a href="#" class="link"><img src="/img/appstore.png" width="120px"/></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__Bottom">
        <div class="container footer__Derechos">
          <p class="description">© 2017 - Todos los derechos reservados</p>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/codigo.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAbwyo5G5fa4OCOXgUKezEiUOHZFHB7HLs&amp;libraries=places"></script>
    <script>
      var autocomplete = new google.maps.places.Autocomplete($("#pac-input")[0], {});
       google.maps.event.addListener(autocomplete, 'place_changed', function() {
               var place = autocomplete.getPlace();
               console.log(place.address_components);
           });
    </script>
  </body>
</html>