<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    include inc/base
  body
    include inc/header
    div#website
      section.slider.terminosSlider
        header.aboutSlider__Header
          h2.title
            | Términos y Condiciones

      main.main
        div.aboutMain
          div.container
            div.col.l12.aboutMain__Description
              p.description
                | Estamos trabajando...
     
    include inc/footer